.animated-text {
  animation: textAnimation 2s linear infinite;
}

@keyframes textAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


